<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lien activité</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <p id="error"></p>
        <% activities.forEach((activity => { %>
            <h2><%= activity.name %></h2>
            <div class="row">
                <div class="col s12">
                    <p>Lien :</p>
                    <p><a href="<%= baseUrl %><%= activity.name %>">Lien vers le formulaire</a></p>
                    <p>QRCode :</p>
                    <canvas id="qrcode-canvas-<%= activity.name %>"></canvas>
                </div>
            </div>
        <% })); %>
    </div>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/link.js"></script>
    <script>
        <% activities.forEach((activity => { %>
            createQRCode('<%= baseUrl %>', '<%= activity.name %>');
        <% })); %>
    </script>
</body>
</html>